/* You can add global styles to this file, and also import other style files */

#sidebar {
  width: 250px;
  background-color: #f0f0f0;
  transition: margin-left 0.3s ease-in-out;
}
#sidebar.hidden {
  margin-left: -250px;
}
#content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  display: flex;
}
.column {
  padding: 10px;
}
.column:first-child {
  flex: 0 0 20%;
  border-right: 1px solid #ccc;
}
.column:last-child {
  flex: 0 0 80%;
}
#menu-toggle {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
nav ul {
  list-style-type: none;
  padding: 20px;
}
nav ul li {
  margin-bottom: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
@media (max-width: 768px) {
  #sidebar {
    position: absolute;
    height: 100%;
    z-index: 1;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-table {
  width: 100%;
  border: 1px solid #ddd;
}

.mat-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.mat-header-cell {
  background-color: #f2f2f2;
  font-weight: bold;
}

.mat-row:nth-child(even) {
  background-color: #de8b8b;
}

.mat-row:hover {
  background-color: #f5f5f5;
}
.accordion {
  width: 100%;
  margin-top: 20px;
}
.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}
.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.accordion-content {
  padding: 10px;
  display: none;
}
.accordion-content.active {
  display: block;
}
button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: #45a049;
}
#log-content {
  white-space: pre-wrap;
  font-family: monospace;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
}
#scrape-form input[type="text"] {
  width: calc(100% - 22px);
  padding: 8px;
  margin-bottom: 10px;
}
